<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="title">{{ graphics.graphic1.legend }}</h4>
                <app-doughnutchart [chartLabels]="graphics.graphic1.labels" [chartData]="graphics.graphic1.data"></app-doughnutchart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="title">{{ graphics.graphic2.legend }}</h4>
                <app-doughnutchart [chartLabels]="graphics.graphic2.labels" [chartData]="graphics.graphic2.data"></app-doughnutchart>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="title">{{ graphics.graphic3.legend }}</h4>
                <app-doughnutchart [chartLabels]="graphics.graphic3.labels" [chartData]="graphics.graphic3.data"></app-doughnutchart>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="title">{{ graphics.graphic4.legend }}</h4>
                <app-doughnutchart [chartLabels]="graphics.graphic4.labels" [chartData]="graphics.graphic4.data"></app-doughnutchart>
            </div>
        </div>
    </div>
</div>